---
layout: layout.njk
title: Latest News
heroImage: /images/hero_news.jpg
---


<section class="news-section container">
  <h1>Lab News</h1>

  <div class="news-item">
    <div class="news-image">
      <img src="{{ '/images/hero.gif' | url }}" alt="News image">
    </div>
    <div class="news-text">
      <p class="news-date">September 2025</p>
      <h2 class="news-title">Our work on e-GLUE featured in *Science Translational Medicine*</h2>
      <p class="news-content">
        The Ying Lab is proud to share that our latest publication on electroadhesive mucosa-interfacing hydrogels (e-GLUE) was featured in *Science Translational Medicine*.
      </p>
      <a class="news-link" href="#">Read More</a>
    </div>
  </div>

  <div class="news-item">
    <div class="news-image">
      <img src="{{ '/images/labgroup.jpg' | url }}" alt="New student image">
    </div>
    <div class="news-text">
      <p class="news-date">August 2025</p>
      <h2 class="news-title">Ying Lab welcomes new graduate students</h2>
      <p class="news-content">
        We're excited to welcome three new PhD students to the Ying Lab!
      </p>
    </div>
  </div>
</section>